# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.env/
.venv/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Project folders to ignore
# -----------------------------
logs/
models/
results/
data/

# -----------------------------
# General
# -----------------------------
.DS_Store
